body
{
  margin: 0;
}
.root
{
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
  /* display: flex; */
}
.screen
{
  display: flex;
}
.left_part 
{
  width: 25%;
  height: 100vh;
  box-sizing: border-box;
  /* border: 2px solid red; */
  background-color: #ccc;
}
.select_new_shape,
.colorpickers
{
  display: block;
  margin: auto;
  margin-bottom: 56px;
  width: 50%;
}
.select_new_shape h2,
.colorpickers h2 
{
  margin-bottom: 0;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #818181;
  margin-bottom: 28px;
}
.buttons_panel
{
  display: flex;
  justify-content: space-between;
}
.right_part
{
  width: 75%;
  height: 100vh;
  background-color: #EFEFEF;
  position: relative;
}
.style_block
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.style_block label
{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #818181;
}
.rect
{
  position: absolute;
  background-color: red;
  height: 80px;
  width: 150px;
}
.shape_button:hover,
.color_picker:hover
{
  cursor: pointer;
}
.shape
{
  position: absolute;
}
polygon:hover,
rect:hover
{
  cursor: pointer;
}

.selected_shape
{
  border: 2px dashed red;
}
.not_selected_shape
{
  padding: 2px;
}
.grab:hover
{
  cursor: grab;
}
.grabbing:hover
{
  cursor: grabbing;
}
